
@{
    // Author: Andrew Cichy
    // Class: CIS237
    // Date: 4/27/22
    ViewData["Title"] = "Contact Page";
}

<h1>How to get in Touch with us!</h1>
<p>Don't!</p>
<p>But if you really need to, call Jimbo (No he's not the trash can), JimboTheSupportGuy@thisisarealemail.com</p>
