@{
    // Author: Andrew Cichy
    // Class: CIS237
    // Date: 4/27/22
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Beverage Website!</h1>
    <p>Login to access the Beverage Database! The Beverage database can be accesed from the "My Beverages" tab, after logging in, found next to the home and privacy tabs!</p>
</div>
