@{
    // Author: Andrew Cichy
    // Class: CIS237
    // Date: 4/27/22
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Privacy is like super important to us. Thats why we make you register first before using our database. Not just anyone can access that bad boy. Unless you register of course, and anybody could do that. Yeah, Privacy, super cool,
    super Important.
</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p>Definetly not stealing your data</p>
